[submodule "basic/codyssey-b1-1"]
	path = basic/codyssey-b1-1
	url = https://github.com/VectorSophie/codyssey-b1-1.git
[submodule "basic/codyssey-b1-2"]
	path = basic/codyssey-b1-2
	url = https://github.com/VectorSophie/codyssey-b1-2.git
[submodule "basic/codyssey-b2-1"]
	path = basic/codyssey-b2-1
	url = https://github.com/VectorSophie/codyssey-b2-1.git
[submodule "basic/codyssey-b3-1"]
	path = basic/codyssey-b3-1
	url = https://github.com/VectorSophie/codyssey-b3-1.git
[submodule "basic/codyssey-b3-2"]
	path = basic/codyssey-b3-2
	url = https://github.com/VectorSophie/codyssey-b3-2.git
[submodule "basic/codyssey-b4-1"]
	path = basic/codyssey-b4-1
	url = https://github.com/VectorSophie/codyssey-b4-1.git
[submodule "basic/codyssey-b4-2"]
	path = basic/codyssey-b4-2
	url = https://github.com/VectorSophie/codyssey-b4-2.git
[submodule "basic/codyssey-b5-1"]
	path = basic/codyssey-b5-1
	url = https://github.com/VectorSophie/codyssey-b5-1.git
[submodule "basic/codyssey-b5-2"]
	path = basic/codyssey-b5-2
	url = https://github.com/VectorSophie/codyssey-b5-2.git
[submodule "basic/codyssey-b5-3"]
	path = basic/codyssey-b5-3
	url = https://github.com/VectorSophie/codyssey-b5-3.git
[submodule "basic/codyssey-b6-1"]
	path = basic/codyssey-b6-1
	url = https://github.com/VectorSophie/codyssey-b6-1.git
[submodule "basic/codyssey-b6-2"]
	path = basic/codyssey-b6-2
	url = https://github.com/VectorSophie/codyssey-b6-2.git
[submodule "basic/codyssey-b7-1"]
	path = basic/codyssey-b7-1
	url = https://github.com/VectorSophie/codyssey-b7-1.git
[submodule "advanced/codyssey-a1-1"]
	path = advanced/codyssey-a1-1
	url = https://github.com/VectorSophie/codyssey-a1-1.git
[submodule "advanced/codyssey-a2-1"]
	path = advanced/codyssey-a2-1
	url = https://github.com/VectorSophie/codyssey-a2-1.git
[submodule "advanced/codyssey-a3-1"]
	path = advanced/codyssey-a3-1
	url = https://github.com/VectorSophie/codyssey-a3-1.git
[submodule "advanced/codyssey-a3-2"]
	path = advanced/codyssey-a3-2
	url = https://github.com/VectorSophie/codyssey-a3-2.git
[submodule "advanced/codyssey-a4-1"]
	path = advanced/codyssey-a4-1
	url = https://github.com/VectorSophie/codyssey-a4-1.git
[submodule "advanced/codyssey-a4-2"]
	path = advanced/codyssey-a4-2
	url = https://github.com/VectorSophie/codyssey-a4-2.git
[submodule "advanced/codyssey-a5-1"]
	path = advanced/codyssey-a5-1
	url = https://github.com/VectorSophie/codyssey-a5-1.git
[submodule "advanced/codyssey-a5-2"]
	path = advanced/codyssey-a5-2
	url = https://github.com/VectorSophie/codyssey-a5-2.git
[submodule "advanced/codyssey-a6-1"]
	path = advanced/codyssey-a6-1
	url = https://github.com/VectorSophie/codyssey-a6-1.git
[submodule "advanced/codyssey-a6-2"]
	path = advanced/codyssey-a6-2
	url = https://github.com/VectorSophie/codyssey-a6-2.git
